.foto {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/gato.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.frase {
    background-color: red;
    border: solid 2px;
}