main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.divVermelho {
    background-color: red;
    height: 50px;
    width: 700px;
}

.divVerde {
    background-color: green;
    width: 700px;
    height: 50px;
    padding: 25px;
}